In [40]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

import joblib

dataset=pd.read_csv('Classeur2.csv')
dataset

    num_matricule  etudiant  sexe  age
0            5643         1     2   18
1            3456         6     1   35
2            2876         7     1   23
3            2056         4     2   17
4            1275         9     1   26
5            3563         3     2   15
6            9465         5     1   13
7            2406         2     2   22
8            1745        18     2   24
9            1043        11     1   21
10           4032         8     2   42
11           8056        16     1   37
12           9704        13     2   20
13           9620        10     1   14
14           3008        19     1   41
15           4708        21     2   48
16           5007        36     2   46
17           6108        17     2   59

In [41]:
#determiner x et y

X=dataset[['etudiant','sexe','age']]
y=dataset['num_matricule']

In [42]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)
print(X_train)

    etudiant  sexe  age
14        19     1   41
4          9     1   26
2          7     1   23
16        36     2   46
17        17     2   59
9         11     1   21
7          2     2   22
13        10     1   14
11        16     1   37
3          4     2   17
0          1     2   18
5          3     2   15
15        21     2   48
12        13     2   20

In [43]:
regresseur=LinearRegression()

In [50]:
regresseur.fit(X_train,y_train)

LinearRegression()

In [54]:
joblib.dump(regresseur,'modelv5.pkl')

['modelv5.pkl']

In [55]:
y_pred=regresseur.predict(X_test)

In [57]:
df=pd.DataFrame({
    'Matricule initial est':y_test,
    'Matricule pred est':y_pred
}
)
print(df)

    Matricule initial est  Matricule pred est
1                    3456         3136.637669
6                    9465         4147.422620
8                    1745         5988.732434
10                   4032         3786.759482